.App {
  margin: 0%;
  padding: 0%;
  display: flex;
}

/* all master typing colors */
/*
18 total('/' on each color finished):
Normal
Fire /
Water/
Grass/
Electric/
Ice
Fighting
Poison/
Ground/
Flying
Psychic
Bug
Rock
Ghost
Dark
Dragon
Steel
Fairy
*/
.grass {
  background-color: #2bdab1;
}

.fire {
  background-color: #f7776a;
}

.water {
  background-color: #58abf7;
}

.electric {
  background-color: #ffce4b;
}

.poison {
  background-color: #9e5bba;
}

.ground {
  background-color: #ca817a;
}
